.container {
  max-width: 400px;
}

input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
}

.todos-container li {
  background: #484E53;
  list-style: none;
}

i[data-trash] {
  transition:all 0.5s ease;
  cursor: pointer;
}
.fa-trash-alt:hover{ 
  background-color: rgba(255, 255, 255, 0.157);
  border-radius: 50%;
  padding: 4px;
  text-align: center;
  transition:all 0.3s ease-in-out;
}

.hidden{
  display: none;
}

.warning{
  text-align: center;
  color: whitesmoke;
}